<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfred.androidstudy">

    <!-- To auto-complete the email ic_hot_employer_text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 修改播放模式 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 控制硬件工作状态，用于听筒/功放切换时 熄灭/点亮屏幕 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 允许应用程序联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--(读取短信)-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:name=".AlfredApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".MainActivity"
            android:taskAffinity="com.alfred.androidstudy01">

        </activity>
        <activity android:name=".animation.AnimationAttributeActivity">
        </activity>
        <activity android:name=".animation.AnimationInterpolatorActivity">
        </activity>
        <activity android:name=".animation.AnimationCodeActivity">
        </activity>
        <activity android:name=".animation.PropertyAnimatorActivity">
        </activity>
        <activity android:name=".animation.AnimatorXMLActivity" />
        <activity android:name=".listview.LayoutInflaterActivity">
        </activity>
        <activity android:name=".listview.ScrollActivity">
        </activity>
        <activity android:name=".listview.ScrollListViewActivity">
        </activity>
        <activity android:name=".pullscrollview.PullScrollViewActivity">
        </activity>
        <activity android:name=".pullscrollview.PullHeaderScaleScrollViewActivity">
        </activity>
        <activity android:name=".pullscrollview.PullScrollListViewActivity">
        </activity>
        <activity android:name=".viewpager.ViewPaperActivity">
        </activity>
        <activity android:name=".graphics.FirstActivity">
        </activity>
        <activity android:name=".graphics.RangeActivity">
        </activity>
        <activity android:name=".graphics.CanvasActivity">
        </activity>
        <activity android:name=".graphics.TextActivity">
        </activity>
        <activity android:name=".graphics.QuadActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaWarActivity">
        </activity>
        <activity android:name=".graphics.PaintActivity">
        </activity>
        <activity android:name=".design.CoordinatorLayoutActivity">
        </activity>
        <activity android:name=".dragger2.Dragger2Activity">
        </activity>
        <activity android:name=".rxjava.RxJavaOperatorObservableCreatedActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaOperatorObservableTransformActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaOperatorFilteringActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaOperatorCombiningActivity">
        </activity>
        <activity android:name=".rxjava.RxJavaOperatorErrorHandlingActivity">
        </activity>
        <activity
            android:name=".mvp.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity android:name=".design.ToolBarActivity">
        </activity>
        <activity android:name=".design.DesignActivity">
        </activity>
        <activity android:name=".database.DataBaseActivity">
        </activity>
        <activity
            android:name=".PdfPreviewActivity"
            android:taskAffinity="com.alfred.androidstudy02">
        </activity>
        <activity android:name=".AlfredActivity">
        </activity>
        <activity android:name=".BitmapRegionDecoderActivity">
        </activity>
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".VDHBlogActivity">
        </activity>
    </application>

</manifest>